.main-container {
    display: flex;
}

.screener-header {
    text-align: center;
}

.add {
    text-align: center;
}

.stock-img {
    height: 50vh;
    width: auto;
    display: block;
    margin: 0 auto;
}

#dropdown {
    margin-bottom: 20px;
}